@import('./reset.css');

body{
	font-family: 'XinGothic-SinaWeibo','Microsoft YaHei',helvetica,arial,sans-serif
}
/*css font-face*/
@font-face{font-family:'SinaHomeFont';
src:url('http://mjs.sinaimg.cn/wap/online/cms/channel/public/css/fonts/SinaHomeFont.eot?v=0.0.23');
src:url('http://mjs.sinaimg.cn/wap/online/cms/channel/public/css/fonts/SinaHomeFont.eot?v=0.0.23#iefix') format('embedded-opentype'),
	url('http://mjs.sinaimg.cn/wap/online/cms/channel/public/css/fonts/SinaHomeFont.woff?v=0.0.23') format('woff'),
	url('http://mjs.sinaimg.cn/wap/online/cms/channel/public/css/fonts/SinaHomeFont.ttf?v=0.0.23') format('truetype');font-weight:normal;font-style:normal;
}

[class^="icon_"],[class*=" icon_"]{font-family:'SinaHomeFont';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon_add:before{content:"\e600"}
.icon_back:before{content:"\e601"}
.icon_check:before{content:"\e602"}
.icon_comment:before{content:"\e603"}
.icon_download_1:before{content:"\e604"}
.icon_download_2:before{content:"\e605"}
.icon_hot:before{content:"\e606"}
.icon_img:before{content:"\e607"}
.icon_interest:before{content:"\e608"}
.icon_loading:before{content:"\e609"}
.icon_location:before{content:"\e60a"}
.icon_menu:before{content:"\e60b"}
.icon_open:before{content:"\e60c"}
.icon_search:before{content:"\e60d"}
.icon_sina_logo:before{content:"\e60e"}
.icon_top_1:before{content:"\e60f"}
.icon_top_2:before{content:"\e610"}
.icon_user:before{content:"\e611"}
.icon_video:before{content:"\e612"}
.icon_weibo:before{content:"\e613"}
.icon_star:before {content: "\e614";}
.icon_cai:before {content: "\e615";}
.icon_cai_1:before {content: "\e616";}
.icon_ding:before {content: "\e617";}
.icon_ding_1:before {content: "\e618";}
.icon_down_18:before {content: "\e619";}
.icon_open_18:before {content: "\e620";}
.icon_phone_18:before {content: "\e621";}
.icon_tick:before {content: "\e622";}
.icon_exclamation:before {content: "\e623";}
.icon_camera:before {content: "\e624";}
.icon_collection:before {content: "\e625";}
.icon_collection_1:before {content: "\e626";}
.icon_share:before {content: "\e627";}
.icon_play:before {content: "\e628";}
.icon_time:before {content: "\e629";}
.icon_like:before {content: "\e630";}
.icon_stock:before {content: "\e631";}
.icon_video2:before {content: "\e632";}
.icon_file:before {content: "\e633";}
.icon_location2:before {content: "\e634";}
.icon_audio:before {content: "\e635";}
.icon_refresh:before {content: "\e636";}
.icon_colse:before {content: "\e637";}
.icon_play_1:before {content: "\e638";}
.icon_play_2:before {content: "\e639";}
.icon_same:before {content: "\e640";}
.icon_people:before { content: "\e641";}
.icon_gender:before {content: "\e642";}
.icon_date:before {content: "\e643";}
.icon_aup:before { content: "\e644";}
.icon_adown:before {content: "\e645";}
.icon_v:before { content: "\e646";}
.icon_search_44:before {content: "\e647";}
.icon_menu_44:before { content: "\e648";}
.icon_user_2:before { content: "\e649";}
.icon_view:before { content: "\e650";}
.icon_delete:before {content: "\e651";}
.icon_close_1:before { content: "\e652";}
.icon_back_1:before { content: "\e653";}


/*共有头文件*/
.extend-module{ background: #fff; border-bottom:1px solid #dcdcdc; margin-bottom: 10px;} 
.extend-module .th_td{ font-size: 16px; height:35px; color:#444; line-height: 35px; background-color:#f9f9f9; padding: 0 20px;border-top:1px solid #dcdcdc; }
.extend-module .th_td .tit_pic{ width:27px; height: 27px; border-radius:50%; float: left;margin:4px 9px 0 0;}
.extend-module .th_td .comment-entry{ float: right; line-height: 35px;color:#3990e6;font-size:13px; cursor:pointer;}
.extend-module .th_td .order_on{float: right;background-color:#fff;font-size: 10px; margin-top:7px; height:18px; line-height: 18px;color: #3990e6;border: 1px solid #3990e6; width:40px; text-align: center;}
.extend-module .th_td .order_on:after{ content:"订阅";}
.extend-module .th_td .order_off{display: block; margin-top: 7px;text-align: center; float: right;height:18px; line-height: 18px; width: 40px; font-size: 10px; color: #888; border: 1px solid #e8e8e8; background: none;} 
.extend-module .th_td .order_off:after{ content:"已订";}
.extend-module .th_td .icon_add{ float:left; padding-top:4px;-webkit-transform: scale(0.7,0.7);transform: scale(0.7,0.7);display: inline-block;-webkit-transform-origin: right center; transform-origin: right center;}
.extend-module .th_td .order_off .icon_add{ display: none;}
/*头部*/
.sinaHead {
    clear: both;
    overflow: hidden;
    background: #f8f8f8;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    line-height: 42px;
    min-height: 42px;
    font-size: 16px;
    position: relative;
}
.sinaHead2{
	border-bottom:0 none;
	background:#ff5a60;
}
.h_logo{height:44px;width:57px;text-align:center;border:0 none;}
.h_logo::after{content:"";width:0;-border-left:1px solid rgb(255,107,112);border-right:1px solid #aaa;}
.h_logo_new{
	width:58px;
	height:44px;
	float:left;
	display:block;
	line-height:42px;
	width:58px;
	text-align:center;
	position:relative;
	background:url(http://mjs.sinaimg.cn/wap/online/dpool/wemedia/v2/images/sprites.png) no-repeat 10px 10px;
	background-size:50px 300px;
}
.h_logo_new:after{
	content:"";
	display:block;
	width:1px;
	height:42px;
	background:rgb(221,77,82);
	position:absolute;
	right:0;top:0;
}
.h_user {
    display: block;
    height: 30px;
    width: 30px;
    background-position: 0 -164px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    right: 40px;
    top: 6px;
    background: url(http://mjs.sinaimg.cn/wap/module/header_footer/201510231818/images/head_foot_ico.png) no-repeat 0px -165px;
    background-size: 50px auto;
}
a 
.h_nav_items li:only-child{
	background:none;
}
.h_nav_items li:only-child a{
	color:#ffffff;
}
.h_nav_items li a{
	color:#ffffff;
}
.active_rss.header_rss{
	display:none;
}
.header_user_icon{
	position:absolute;
	right:40px;
	top:7px;
	z-index:100;
	width:30px;
	height:30px;
	background:url(http://mjs.sinaimg.cn/wap/online/dpool/wemedia/v2/images/sprites.png) no-repeat 0px -50px;
	background-size:50px 300px;text-align:center;line-height:30px;
}
.h_nav {
    width: 40px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    background-position: 8px -44px;
    background:url(http://mjs.sinaimg.cn/wap/online/dpool/wemedia/v2/images/sprites.png) no-repeat 9px -89px;background-size:50px 300px;
}

/*视频*/

.videoArt_player {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.videoArt_player video {
    width: 100%;
    display: none;
}
.videoArt_player .video_control {
    width: 100%;
    padding-top: 58%;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.videoArt_player .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.videoArt_player .video_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -30px;
    text-align: center;
    z-index: 11;
}
.videoArt_player .play_mark {
    display: block;
    width: 60px;
    height: 60px;
    background: url(http://mjs.sinaimg.cn/wap/h5/cms/text_page/video_article/201608011052/images/all_icon.png) no-repeat 0 0;
    background-size: 60px auto;
}
.videoArt_player .mark_time {
    display: inline-block;
    margin-top: 10px;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,0.5);
}
.video_layer {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: 12;
}
.hide {
    display: none!important;
}
.video_layer .close_box {
    padding-top: 10px;
    text-align: right;
    font-size: 0;
}
.video_layer .close_btn {
    width: 34px;
    height: 34px;
    background: rgba(96,96,96,0.4) url(http://mjs.sinaimg.cn/wap/h5/cms/text_page/video_article/201608011052/images/videoclose.png) no-repeat center center;
    background-size: 15px auto;
    border-radius: 50%;
    display: inline-block;
}
.video_layer .video_text {
    color: #fff;
    clear: both;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    margin: -18px 0 0 -80px;
}
.fl {
    float: left;
}
.video_text p {
    font-size: 12px;
}
.daohang{
    padding-left: 10px;
}
.art_brand_subscribe .icon_add:before {
    font-size: 12px;
}

/*标题和视频描述*/
.videoArt_describe {
    /*background: #fff;*/
    padding: 20px 24px;
    /*border-bottom: 1px solid #ececec;*/
    position: relative;
}
.videoArt_describe .title {
    text-align: justify;
    font-size: 20px;
    color: #1a1a1a;
    padding-right: 10px;
    position: relative;
    line-height: 21px;
    line-height: 26px;
    max-height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.videoArt_describe .show_btn {
    width: 36px;
    height: 19px;
    display: block;
    position: absolute;
    right: 0;
    margin-right: 28px;
    margin-top: -16px;
    -webkit-tap-highlight-color: transparent;
}

.videoArt_describe .show_btn:before {
    position: absolute;
    right: 13px;
    top: 1px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: " ";
    border-color: #ff5a60;
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.videoArt_describe .isShow:before {
    position: absolute;
    right: 13px;
    top: 1px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: " ";
    border-color: #ff5a60;
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.videoArt_describe .bref {
    overflow: hidden;
    padding-top: 25px;
}
.videoArt_head{
	zoom:1;
}
.videoArt_head:after{
	display: block;
	content: "";
	clear: both;

}
.videoArt_describe .text {
    font-size: 13px;
    color: #1a1a1a;
    display: none;
    line-height: 19px;
    text-align: justify;
    font-size: 18px;
    line-height: 27px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.videoArt_img{
	display: block;
	float: left;
    width: 40px;
    height: 40px;
}
.videoArt_le{
	float: left;
}
.videoArt_address{
	display: block;
	padding-left: 6px;
	float: left;
	font-size: 13px;
}
.videoArt_time{
    position: absolute;
    display: block;
    float: left;
    padding-left: 6px;
    font-size: 9px;
    padding-top: -23px;
    margin-top: -4px;
}
.videoArt_log{
    display: block;
    width: 55px;
    float: left;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin-left: 7px;
    border: 1px solid #ff5a60;
    border-radius: 4px;
    font-size: 15px;
    color: #ff5a60;
    font-size: 9px;
}
.art_brand_subscribe {
    float: right;
    color: #fff;
    background: #ff5a60;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 3px;
}
.order_on:after {
    content: "订阅";
}

.warning_wrap {
	display: none;
    border: 1px solid #ececec;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 8px;
    color: #666;
    margin-bottom: 15px;
}
.warning_wrap .warning_statement {
    font-size: 14px;
    margin-right: 16px;
    color: #5f5f5f;
}




/*As 分享按钮*/
.share_list{clear:both;display:-webkit-box;-webkit-box-pack:justify; padding: 0 20px 10px;}
.share_list li{height:27px;overflow:hidden;line-height:25px;border:1px solid #ececec;color:#707070;-webkit-box-sizing:border-box;box-sizing:border-box;background:#fff;border-radius:18px;font-size:12px;padding:0 6px;}
.interest_num{display:inline-block;width:30px;text-align:center;}
.share_list .icon_interest,.share_list .icon_weibo{display: inline-block;height:100%;vertical-align: middle;line-height:20px;}
.share_list .icon_interest:before{vertical-align:middle;font-size:14px;color:rgb(249,97,50);}
.share_list .icon_weibo:before{font-size:14px;vertical-align:middle;color:rgb(252,49,50);display: inline-block;}
.art_main_card_ad{text-align:center;margin-bottom:15px;  padding: 0 20px 10px;}
.art_main_card_ad img{max-width:100%;min-width:200px;width:100%;}
.share_list i{background-size:50px 300px;display: inline-block;font-style:normal;width:19px;height:16px;vertical-align: middle;margin-right:4px;}
/*.share_interest{padding:0 10px;}*/
.share_interest_ico{background:url(http://mjs.sinaimg.cn/wap/online/dpool/wemedia/v2/images/sprites.png) no-repeat;background-position:3px -150px;}
.share_weibo_ico{background:url(http://mjs.sinaimg.cn/wap/online/dpool/wemedia/v2/images/sprites.png) no-repeat;background-position:0px -200px;transform:translateY(-1px);}
.share_weixin_ico{background:url(http://mjs.sinaimg.cn/wap/online/dpool/wemedia/v2/images/sprites.png) no-repeat;background-position:0px -175px;}
.share_friends_ico{background:url(http://mjs.sinaimg.cn/wap/online/dpool/wemedia/v2/images/sprites.png) no-repeat;background-position:0px -225px;transform:translateY(-2px);}

/*热门评论*/
.comment_moudule{ padding:0 20px;}
.comment_moudule .comment-wrap{ margin: 15px 0 0 0;padding: 0 0 2px;border-bottom: 1px solid #dcdcdc;}
.comment_moudule .comment-wrap .author{ margin: 0 0 6px;color:#888;line-height: 18px; }
.comment_moudule .comment-wrap .author address{font-size: 14px; font-style:normal; float: left;}
.comment_moudule .comment-wrap .author mark { margin-left:10px; background:none; border-radius: 10px; border:1px solid #fe7358; color: #fe7358;  font-size:10px; line-height: 14px; padding: 0px 7px 0px 14px; float: left; margin-top: 2px; position: relative;}
.comment_moudule .comment-wrap .author mark i{ font-size: 12px; position:absolute; left: 3px; top: 1px; }
.comment_moudule .author .cmnt_op_bottom_times{  font-size: 10px;color: #888; float: right;}
.comment_moudule .comment-wrap .floor{  background-color: #fdfdf6; border: 1px solid #e8e8de; margin-bottom: 10px; margin-top: 10px;}
.comment_moudule .comment-wrap .floor_author{ margin: 10px; color: #888; font-size: 12px;display: block;}
.comment_moudule .comment-wrap .floor_num{ color: #8b8b7e; font-style: normal; float: right;}
.comment_moudule .comment-wrap .floor article{  display: block; margin: 0 10px 10px; color: #1a1a1a; font-size: 14px; line-height: 20px; text-align: justify;}
.comment_moudule .comment-wrap .unlimited{ padding-bottom: 10px; font-size: 16px; line-height: 24px; color: #1a1a1a; text-align: justify; position: relative; text-overflow: ellipsis; display: block; max-height:96px; overflow: hidden;}
.comment_moudule .comment-wrap .more_btn{ height: 24px; line-height: 24px;  position:absolute; right: 0; bottom: 0px; float: right;  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 20%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%);  background-image: -moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 20%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); background-image: -o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 20%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); background-image: -ms-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 20%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); background-image: linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 20%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); padding-left: 50px;}
.comment_moudule .comment-wrap .more_btn i{ font-size:11px;height: 19px; line-height: 19px; font-style:normal; background: #fff; padding: 0px 20px 0px 8px; border:1px solid #dcdcdc; display:inline-block; color:#444; cursor:pointer; border-radius: 2em; }
.comment_moudule .comment-wrap .more_btn i:after{ position:absolute; right:9px; top: 8px;  border-style: solid;  border-width: 1px 1px 0 0; content: " ";display: inline-block;height: 6px;width:6px; transform: rotate(135deg); -webkit-transform: rotate(135deg);}
.comment-count{ line-height:35px; height: 35px; text-align: center; font-size: 14px; }
.comment-count a{ text-decoration: none; color: #222; display: block;text-align: center; }

/*As 热门媒体*/
.all_medias{float:right;color:#ff5a60;}
.hot_atten{display:block;overflow:hidden;padding: 12px 20px;padding-bottom:0;}
.hot_atten a{width:50%;float:left;margin:0 0 20px 0;}
.hot_media_icoWrap,.hot_atten a aside,{float:left;}
.hot_media_icoWrap{width:35px;height:35px;background:url('../images/lz1X1.jpg') no-repeat center center;background-size:35px 35px;border-radius:50%;margin-right:4px;line-height:35px;text-align:center;overflow:hidden;}
.hot_media_icoWrap{float:left;background-image:url('../images/lz2X1.jpg');}
.hot_media_icoWrap img{width:100%;display:block;}
.hot_media_info{line-height:18px;margin-right:3px;}
.media_name{font-size:14px;color:#292929;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;line-height:16px;margin-bottom:3px;}
.media_describe{font-size:12px;color:#888;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:14px;}


/*feed流主体*/
.f_card{padding:10px 0;    border-bottom: 1px solid #ececec;margin: 0 10px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.f_card.j_last .f_card_dd:after{ background:none;}
.f_card .f_card_dt{width:80px;height:60px;margin-right:12px;position:relative;background-color:#f6f6f6;}
.f_card_dt img{width:100%;height:100%;}
.f_card .video_tips{width:16px;height:16px;color:#fff;font-size:14px;line-height:16px;text-align:center;border-radius:50%;border:1px solid #fff;background:rgba(0,0,0,.6);position:absolute;left:5px;bottom:5px;}
.f_card .f_card_dd{width:0; -webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1; position:relative; -webkit-box-orient: vertical; -webkit-box-pack: justify;display: -webkit-box;}
.f_card .f_card_lh{height: 60px;}
.f_card .f_card_h3{font-size:15px;color:#000;height:20px;line-height:20px;font-weight:590;}
.f_card .f_card_p{word-wrap: break-word;font-size:12px;color:#888;height:36px;line-height:18px;padding-top:4px; overflow: hidden; text-align: justify;}
.f_card .f_card_icon{ height:17px; background-color:#fff; position:absolute; right:0; bottom:0px; padding-left: 10px; background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 10%);}
.f_card .f_card_lricon{ width:100%; height:17px; background-color:#fff; padding-top:5px;}
.f_card_icon span:last-child{ margin:0;}
.f_card .sponsor{float:right;height:14px;line-height:14px;border:1px solid #119aef;font-size:10px;color:#119af0;padding:0 2px;margin-left:10px;}
.f_card .book_tip{float:right;height:14px;line-height:14px;border:1px solid #f84c4b;font-size:10px;color:#f84c4b;padding:0 2px;margin-left:10px;}
.f_card .f_card_pic{padding-top:10px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; position:relative;}
.f_card_pic li{width:34%;background-color:#e4f0f9; -webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1; flex: 1;}
.f_card_pic li:nth-child(2){margin:0 4px;}
.f_card_pic img{width:100%;}
.f_card .comment{float:right;height:16px;font-size:10px;color:#555;margin-left:10px;font-family:Arial;line-height:16px;}
.f_card .pic_tips{float:right;height:16px;font-family:Arial;font-size:10px;color:#999;line-height:16px;}
.f_card .location{float:right;font-family:Arial;font-size:10px;color:#45bfa4;}
.f_card .interest{float:right;font-family:Arial;font-size:10px;color:#1199ef;}
.f_card .weibo{float:right;font-size:10px;color:#f69727; max-width: 95px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.f_card .hot{float:right;font-size:10px;color:#fa4e46;}
.f_card .source{float:right;height:16px;font-size:10px;color:#888;margin-left:20px;line-height:16px;}
.f_card .f_source{float:left;height:16px;font-size:12px;line-height:16px;}
.f_card .f_source a{color: #888;}
.f_card .faces{ float:right; font-size:10px; height: 16px; line-height: 16px; color:#8f68d7}
.f_card .face_pic{ width:10px; height:10px; border-radius:50%; vertical-align:-2px; margin-right:5px;}
.f_card .f_colse{ width:18px; float: right; height:16px; margin-left: 10px; position:relative;}
.f_card .icon_colse{ width:50px; height:16px; line-height:16px; font-size:10px; text-align:right;padding-top: 7px; color:#a5a5a5;position:absolute; right:0; bottom:0; }
.f_card .comment .icon_comment{font-size:12px;line-height:16px;display:inline-block;margin-left:5px;vertical-align:-2px; color:#888;}
.f_card .pic_tips .icon_img{font-size:12px;line-height:16px;display:inline-block;margin-right:5px;vertical-align:-2px;}
.f_card .location .icon_location{font-size:14px;line-height:16px;display:inline-block;margin-right:5px;color:#45bfa4;vertical-align:-2px;}
.f_card .interest .icon_interest{font-size:14px;line-height:16px;display:inline-block;margin-right:5px;color:#1199ef;vertical-align:-2px;}
.f_card .weibo .icon_weibo{font-size:14px;line-height:16px;display:inline-block;margin-right:6px;color:#f69727;vertical-align:-2px;}
.f_card .hot .icon_hot{font-size:14px;line-height:16px;display:inline-block;margin-right:6px;color:#fa4e46;vertical-align:-2px;}
.f_card .time{ width:100%; height:14px; font-size:10px; color:#fff; line-height: 14px; padding-top:10px; position:absolute; left: 0; bottom:0; background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);}
.f_card .time .icon_time{padding:0 4px 0 2px;}
.f_card .play{float:right;height:16px;font-size:10px;color:#888;margin-left:10px;font-family:Arial;line-height:16px;}
.f_card .play .icon_play{font-weight: 590; font-size: 12px;display:inline-block;margin-left:5px;vertical-align:-2px; color:#888;}
.f_card.default .f_card_icon{ bottom:auto; top:4px;}
.f_card.default .f_card_h3 .icon_img{display: none;}
.f_card.default .f_card_dd:after{ background:none;}
.f_card .f_card_h4{word-wrap: break-word;font-size:15px;color:#000; max-height:40px;line-height:20px; font-weight: normal; font-weight:590; overflow: hidden;}
.f_card .f_card_single{font-size:12px;color:#888;height:18px;line-height:18px;padding-top:2px; overflow: hidden;}
.f_card .f_tel_dd,.f_card .f_download_dd{ width:42px; height:60px; position:relative;display: block; text-align: right;}
.f_card .f_tel_dd:after{ content:''; width:100%; height:1px; background-color:#dfdfdf; position:absolute; left:0; bottom:-10px;}
.f_card .f_tel_dd .icon_phone_18,.f_card .f_download_dd .icon_down_18,.f_card .f_download_dd .icon_open_18{ width:34px; height:34px; line-height: 34px; margin-top:2px;text-align: center; color:#129bf0; font-size:1.8rem; display:inline-block;  background-color:#eef8fe; border-radius: 50%;}
.f_card .f_download_dd:after{ content:''; width:100%; height:1px; background-color:#dfdfdf; position:absolute; left:0; bottom:-10px;}
.f_card .f_picnum{ font-family:Arial; width:35px; height:22px; line-height:22px; background:rgba(0,0,0,0.6); position:absolute; right:0; bottom:0; text-align: center; font-size:10px; color:#fff;}
.f_card .f_picnum .icon_img{ vertical-align: -2px; font-size: 12px;line-height: 16px;display: inline-block;margin-right: 5px;}
.f_card.longtit .f_card_dd:after{background: none;}
.f_card.longtit .f_card_h4{ position:relative;}
.f_card.longtit .f_card_icon{ bottom:2px;}
.f_wbfollow { padding:10px 10px 0; font-size:10px; color:#888; line-height:12px;}


/*图片feed流*/
.f_pic_big{margin:12px 10px -6px;overflow:hidden;position:relative;}
.f_pic_big .pic_img{width:100%;}
.f_pic_big .pic_info{color:#fff;font-size:16px;font-weight:normal;position:absolute;width:100%;text-indent:10px;height:35px;line-height:35px;padding-top:15px;bottom:0;left:0;background:-webkit-linear-gradient(top,rgba(0,0,0,.0) 0%,rgba(0,0,0,.6) 100%);}
.f_pic_big .pic_info .icon_img{ display: none;}
.f_pic_small{padding:10px;overflow:hidden;}
.f_pic_small .f_pic_dt{width:100%;position:relative;}
.f_pic_small .f_pic_li{width:50%;position:relative;float:left;margin-top:4px;}
.f_pic_small .f_pic_li:nth-child(1){margin:0;}
.f_pic_small .f_pic_li:nth-child(2){margin:0;}
.f_pic_small .f_pic_li:nth-child(even){border-left:2px solid #fff;}
.f_pic_small .f_pic_li:nth-child(odd){border-right:2px solid #fff;}
.f_pic_small .pic_img{width:100%;}
.f_pic_small .pic_info{color:#fff;font-size:16px;font-weight:normal;position:absolute;width:100%;text-indent:10px;height:35px;line-height:35px;padding-top:15px;bottom:0;left:0;background:-webkit-linear-gradient(top,rgba(0,0,0,.0) 0%,rgba(0,0,0,.6) 100%);}
.f_pic_small .pic_info .icon_img{ display: none;}
.op_patronage_tips{font-size:10px;height:16px;line-height:16px;display:inline-block;padding:0 4px;margin-left:8px;margin-top:4px;border:1px solid #9e9e9e;color:#9e9e9e;margin-left:0;}
.f_pic_small .video_tips{ position:absolute; top:50%; left:50%; width:32px; height:32px; margin:-26px 0 0 -17px; font-size:32px; line-height: 32px; text-indent:2px; color:#fff; border:2px solid #fff; border-radius:50%; background: rgba(0,0,0,.5);}


/*无图模式的feed流*/
.f_no_pic .f_more_tips{margin-top:16px;}
.f_no_pic .f_md_tit{ margin-bottom: 16px;}
.f_no_pic { padding:0 10px; margin:0;}
.f_no_pic .f_card_h3{ font-size:17px; height:36px; line-height: 36px;}
.f_no_pic .f_card_p{ display:none;}
.f_no_pic .f_card_dd:after{ background:none; position: static;}
.f_no_pic .f_pic_li{ width:100%;}
.f_no_pic .pic_img{ display: none;}
.f_no_pic .video_tips{ display: none;}
.f_no_pic .f_card_dt{ display: none;}
.f_no_pic .pic_info{ padding:0; color: #000;font-size:17px; height:36px; line-height:36px; position: static; text-indent:0;background:none; font-weight: normal;}
.f_no_pic .f_pic_li:nth-child(even){ border-left:none;}
.f_no_pic .f_pic_li:nth-child(odd){ border-right:none;}
.f_no_pic .pic_info .icon_img{ font-size:13px; position:absolute; right:0; top:0; height:36px; line-height:42px; color: #999; padding-left:10px; background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 10%); display: block; overflow: hidden; }
.f_no_pic .f_card_h3 .icon_img{ position:absolute; right:0; top:0; font-size:13px; height:36px; line-height:42px; color: #999; padding-left:10px; background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 10%); display: block; overflow: hidden; }
.f_no_pic .f_card_icon{ bottom:8px;}
.f_no_pic .f_card_pic{ display:none;}
.f_no_pic .f_card_icon .icon_img{ float:none; height:auto; line-height: 16px; display: inline-block !important; }
.card_top_nopic { padding:16px 0;}
.card_nopic_module .f_md_tit{ margin-bottom: 16px;}
.card_nopic_module .f_more_tips{ margin-top:16px;}
.card_nopic_module .wb_top_module{ padding:0;}


/*空数据*/
.nullData .img{ width:163px; height: 151px; margin:80px auto 20px; background:url(../images/nulldata.jpg) no-repeat 0 0; background-size:163px 151px;}
.nullData p{ font-size:16px; color:#666; line-height:20px; padding:28px 0 20px; text-align: center;}
.nullData .order_morebtn{ width:192px; height: 32px; line-height: 32px; font-size:16px; text-align: center; color:#fff; background: #3990e6; margin:0 auto 170px; display: block;}

/*头浮动*/
.fixed_top{ position:fixed; width: 100%; height: 95px; z-index: 100;}


/*加载更多*/
.h_load_more{padding:7px 0 13px;text-align:center}
.h_load_more .loading_btn{color:#616161;display:inline-block;font-size:14px;height:24px;line-height:24px;padding:0 0 0 30px;position:relative}
.h_load_more .icon_loading{position:absolute;top:0;left:0;font-size:24px;color:#3990e6;-webkit-animation:loading 1.1s linear infinite;-moz-animation:loading 1.1s linear infinite;animation:loading 1.1s linear infinite}
@keyframes loading{from{-webkit-transform:rotate(0deg) translateZ(0)}
to{-webkit-transform:rotate(360deg) translateZ(0)}}@-moz-keyframes loading{from{-webkit-transform:rotate(0deg) translateZ(0)}
to{-webkit-transform:rotate(360deg) translateZ(0)}}@-webkit-keyframes loading{from{-webkit-transform:rotate(0deg) translateZ(0)}
to{-webkit-transform:rotate(360deg) translateZ(0)}}

.space_50{ margin-bottom:50px;}
.space_95{ margin-bottom:95px;}


/*底部信息*/



/*body {
    font-size: 16px;
    overflow-x: hidden;
    min-width: 320px;
    color: #1a1a1a;
    background: #f9f9f9
}

a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #1a1a1a
}

a:active {
    color: #3990e6;
    outline: 0
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

code,kbd,pre,samp {
    font-family: monospace;
    font-size: 1rem
}

mark {
    background: #ff0;
    color: #1a1a1a
}

dfn {
    font-style: italic
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

ul,ol {
    list-style: none outside none
}

h1,h2,h3,h4,h5,h6,strong {
    font-size: 100%;
    font-weight: normal
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #ccc
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #ccc
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc
}*/

.border_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.fl {
    float: left
}

.fr {
    float: right
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.break {
    word-break: break-all;
    word-wrap: break-word
}





.ar_wrap {
    float: right;
    border-radius: 20px;
    height: 25px;
    width: 68px;
    background: #0090f7;
    border: 1px solid #0090f7;
    padding: 1px 0;
    margin-top: 7px;
    position: relative
}

.ar_wrap b {
    position: absolute;
    left: 6px;
    top: 0;
    font-size: 12x;
    line-height: 25px;
    font-weight: normal;
    font-size: 14px;
    padding-left: 4px;
    z-index: 1;
    color: #fff
}

.ar_wrapDis {
    float: right;
    border-radius: 20px;
    height: 25px;
    width: 68px;
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 1px 0;
    margin-top: 7px;
    position: relative
}

.ar_wrapDis b {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12x;
    line-height: 25px;
    font-weight: normal;
    font-size: 14px;
    padding-left: 4px;
    z-index: 1
}

.ar_wrap em {
    display: block;
    background: #fff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition-duration: .5s;
    transform: translateX(42px);
    -ms-transform: translateX(42px);
    -webkit-transform: translateX(42px);
    -o-transform: translateX(42px);
    -moz-transform: translateX(42px);
    border: 1px solid #0090f7;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: -1px -1px 0 0;
    position: absolute;
    z-index: 10
}

.ar_wrapDis em {
    display: block;
    background: #fff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition-duration: .5s;
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -moz-transform: translateX(0px);
    border: 1px solid #d3d3d3;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: -1px 0 0 -1px;
    position: absolute;
    z-index: 10
}

.ar_wrap .disActive {
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -moz-transform: translateX(0px)
}

.footer {
    clear: both;
    overflow: hidden;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    padding: 15px 4px 10px;
    background: #f8f8f8
}

.footer_search {
    clear: both;
    position: relative;
    padding: 0 6px
}

.footer_search strong {
    font-weight: normal
}

.footer_select {
    float: left;
    cursor: pointer;
    background: #fff;
    text-align: left;
    border: 1px solid #dfdfdf;
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0 22px 0 8px;
    position: relative;
    margin-right: 10px
}

.footer_select::after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #b2b2b2;
    border-bottom: 2px solid #b2b2b2;
    border-left: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg)
}

.footer_select select {
    position: absolute;
    left: 0;
    top: 0;
    height: 34px;
    width: 61px;
    opacity: 0;
    border: 0;
    z-index: 99
}

.footer_select option {
    line-height: 25px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    color: #666
}

.footer_searchbox {
    overflow: hidden;
    *zoom:1;border: 1px solid #dfdfdf;
    height: 32px;
    line-height: 32px;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding: 0 70px 0 0;
    margin-bottom: 12px
}

.footer_search_input {
    clear: both;
    position: relative;
    padding-left: 12px;
    line-height: 28px
}

.f_search_t {
    width: 100%;
    border: 0;
    background: 0
}

.f_search_btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: 0;
    background-position: -28px -202px
}

.cross {
    position: absolute;
    display: none;
    right: 30px;
    width: 35px;
    height: 32px;
    top: 0;
    z-index: 5;
    color: #fff
}

.cross b {
    position: absolute;
    right: 10px;
    top: 7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: #b2b2b2
}

.cross b::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 2px;
    background: white;
    left: 8px;
    top: 3px
}

.cross b::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    left: 3px;
    top: 8px;
    background: white
}

.footer_nav {
    clear: both;
    line-height: 28px;
    padding: 2px 0;
    font-size: 14px
}

.footer_nav a {
    margin: 0 10px;
    display: inline-block
}

.backPrevPage {
    float: left;
    height: 30px;
    width: 35px;
    background-position: -2px -242px;
    overflow: hidden;
    text-indent: 999em
}

.backTop {
    float: right;
    height: 30px;
    width: 35px;
    background-position: -15px -281px;
    overflow: hidden;
    text-indent: 999em
}

.footer_times {
    line-height: 40px;
    font-size: 12px;
    font-family: helvetica,arial,sans-serif
}

.footer_t_ico {
    background-position: 0 -326px;
    padding-left: 15px;
    margin-left: 10px
}


/*各模块是否显示*/
/*.hotComment,.hotMeiti,.hotTuijian,.hotYuedu{
    display: none;
}*/
